# IDE/OS folders
.idea/
.DS_Store
tags
# Error logs and cache directories
**/error_log
**/cache
# Untracked prod/dev files
wp-config.php

# Untracked prod files
# wp-content/uploads/**
# wp-admin/**
# wp-includes/**